<html>

<script type="text/javascript">

    function validation() {

        var alpha = /^[a-zA-Z]+$/;
        var num = /^[0-9]+$/;

        var np = document.getElementById("np")
        var cp = document.getElementById("cp")
    

        if (np.value.length == 0) {
            alert("please enter your new Password")
            return false;
        }


        if (cp.value.length == 0) {
            alert("Please Confirm your New password")
            return false;
        }

        else {
            return true;
        }
    }
</script>



<body>

    <form method="post" action="{% url 'newpassAction' %}">
        {%csrf_token%}



        <input type="hidden" name="username" value="{{data}}">

        <table>
            <tr>
                <td>Enter New Password</td>
                <td><input type="text" name="newpass" value="np"></td>
            </tr>

            <tr>
                <td>Confirm New Password</td>
                <td><input type="text" name="cnfpass" value="cp"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Update" onclick="return validation()"></td>
            </tr>


        </table>
    </form>
</body>

</html>