<html>

<script type="text/javascript">

    function validation() {

        var alpha = /^[a-zA-Z]+$/;
        var num = /^[0-9]+$/;

        var hobie = document.getElementById("hobie")
        var discription = document.getElementById("discription")
    

        if (hobie.value.length == 0) {
            alert("please enter your Hobie")
            return false;
        }


        if (discription.value.length == 0) {
            alert("please write a discription")
            return false;
        }

        else {
            return true;
        }
    }
</script>




<body>

    <form method="post" action="{% url 'hobieAction' %}">
        {% csrf_token %}


        <table>



            <tr>
                <td>Select your Hobie</td>
                <td>
                    <select name="hobie" id="hobie">
                        <option value="">--select--</option>
                        {% for h in data %}
                        <option value="{{h.id}}">{{h.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            

            <tr>
                <td>Discription</td>
                <td><input type="text" name="discription" id="discription"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Add" onclick="return validation()"></td>
            </tr>

        </table>

    </form>

</body>

{% if messages %}
	{% for msg in messages %}
	<script>
		alert('{{msg}}')
	</script>
	{% endfor %}
{% endif %}

</html>