<html>

<script type="text/javascript">

    function validation() {

        var alpha = /^[a-zA-Z]+$/;
        var num = /^[0-9]+$/;

        var seasonname = document.getElementById("seasonname")
    

        if (seasonname.value.length == 0) {
            alert("please enter a season name")
            return false;
        }

        else {
            return true;
        }
    }
</script>


<body>

    <form method="post" action="{% url 'seasonAction' %}">
        {% csrf_token %}


        <table>
            <tr>
                <td>Enter an Atmospheric Season</td>
                <td><input type="text" name="seasonname" id="seasonname"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Enter" onclick="return validation()"></td>
            </tr>
        </table>
    </form>
</body>
{% if messages %}
	{% for msg in messages %}
	<script>
		alert('{{msg}}')
	</script>
	{% endfor %}
{% endif %}
</html>