<html>

<script src="/static/jquery-1.8.3.min.js"></script>
<script> 

	$(document).ready(function(){
	$("#contactid").change(function(){

	var receivername=$("#contactid").val();	
	$.ajax({
	url:"{% url 'validatereciver' %}",
	data:{'recivername':receivername},
	success:function(data){
	if(data.valid=="not exist")
	{
		alert("Contact ID does not match RID")
		$("#receivername").val('');
}	
}
});	
});		
		
});

</script>



<body>

    <form method="post" action="{% url 'newcontactAction' %}">
        {%csrf_token%}

        <table>

            <tr>
                <td>Contact ID</td>
                <td><input type="text" name="contactid" id="contactid"></td>
            </tr>

            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>

            <tr>
                <td>Remarks</td>
                <td><textarea name="remarks" id="remarks" cols="30" rows="5"></textarea></td>
            </tr>

            <tr>
                <td><input type="submit" value="Add Contact"></td>
            </tr>


        </table>
    </form>

</body>

{% if messages %}
{% for msg in messages %}
<script>
    alert('{{msg}}')
</script>
{% endfor %}
{% endif %}

</html>