<html>
    <body>
        <table>

            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th>Message ID</th>
                <th>Recivers ID</th>
            </tr>

            {% for t in viewtrash %}
            

            <tr>
                <td>{{t.date}}</td>
                <td>{{t.time}}</td>
                <td>{{t.messageid.subject}}</td>
                <td>{{t.messageid.message}}</td>
                <td>{{t.reciverid.username}}</td>
                <td><a href="{% url 'deletetrash' t.id %}"> Delete </td>

            </tr>


            

    
            {% endfor %}

        </table>
    </body>
</html>